@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&family=Space+Grotesk:wght@500;600;700&display=swap");

@import "css/normalize.css";
@import "css/base.css";
@import "css/typography.css";
@import "css/utilities.css";
@import "components/header/css/header.css";
@import "components/footer/css/footer.css";
