# Public, deletion-page-only BUILD settings verified for Polis on 2026-09-08.
# These are not secrets and are not the website service's runtime environment.
# Do not use this dedicated deletion client as the portal or mobile client.
# Build in an isolated checkout; deploy only delete-account.html and its hashed
# deleteAccount JS, JS license and CSS. Preserve unrelated page artifacts.
DELETE_ACCOUNT_API_BASE_URL=https://b3nfp5rv5m.execute-api.us-west-2.amazonaws.com/prod
COGNITO_REGION=us-west-2
COGNITO_APP_CLIENT_ID=3eh4bclp1kupifkb2vt9pc1s1k
COGNITO_DOMAIN=coalition-auth-app-dev-coalition.auth.us-west-2.amazoncognito.com
COGNITO_REDIRECT_URI=https://polisapp.io/delete-account
COGNITO_SCOPES="openid email profile aws.cognito.signin.user.admin"
COGNITO_ENABLE_PASSWORD_FLOW=false
COGNITO_SUPPORTED_IDENTITY_PROVIDERS=COGNITO,Google
